* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 41, 46);
}

.center {
    width: 350px;
    height: 490px;
    position: relative;
    border-radius: 22px;
    padding: 20px 15px;
    overflow: hidden;
    box-shadow: 25px 25px 75px rgb(0, 0, 0, .25),
        10px 10px 7px rgb(0, 0, 0, .25),
        inset -5px -5px 15px rgb(0, 0, 0, .75),
        inset 5px 5px 15px rgb(0, 0, 0, 0.5);
}

.center .calculator {
    position: relative;
    display: grid;
}

.center .calculator .result_show {
    position: relative;
    grid-column: span 4;
    width: calc(100% - 12px);
    margin-left: 5px;
    height: 100px;
    border: none;
    margin-bottom: 12px;
    outline: none;
    background-color: rgb(88, 114, 105);
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.75);
    text-align: right;
    padding: 10px;
    font-size: 30px;
}

.center .calculator span {
    color: #fff;
    position: relative;
    display: grid;
    width: 60px;
    height: 60px;
    background: linear-gradient(90deg, #2f2f2f, #3f3f3f);
    margin: 4px;
    box-shadow: inset -8px 0px 8px rgb(0, 0, 0, .15),
        inset 0px -8px 8px rgb(0, 0, 0, .15),
        0px 0px 2px rgb(0, 0, 0, .75),
        10px 20px 25px rgb(0, 0, 0, .4);
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    place-items: center;
}

.center .calculator span i {
    position: relative;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;

}

.center .calculator span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    border-radius: 10px;
    box-shadow: inset -5px -5px 15px rgb(0, 0, 0, 0.10),
        10px 5px 10px rgb(0, 0, 0, .15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
}

.center .calculator span:active {
    filter: brightness(2);
}

.center .calculator span.all_clear {
    grid-column: span 2;
    width: 92%;
    background: red;
}

.center .calculator span.all_clear::before {
    background: linear-gradient(90deg, #f00, #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}
.center .calculator span.plus{
    grid-row: span 2;
    height: 92%;
}
.center .calculator span.equel{
    background: rgb(34,116,223);
    
}
.center .calculator span.equel::before{
    background: linear-gradient(90deg, rgb(34,116,223), #ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}